create table some_table (column_1 int,
                         column_2 int,
                         column_3 int,
                         column_n int);
select <spot>column_1,
       column_2,
       column_3,
       column_n</spot>
from some_table;